:root {
  color-scheme: light;
  font-family: "Roboto", system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
}
/* src/index.css */

.phone-input-mui {
  height: 40px;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  padding: 0 14px;
  display: flex;
  align-items: center;
}

.phone-input-mui:focus-within {
  border-color: #1976d2;
}

.phone-input-error {
  border-color: #d32f2f;
}
.phone-input-mui:hover {
  border-color: rgba(0, 0, 0, 0.87);
}
.phone-input-mui .PhoneInputInput {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
}
